<h1>$dictionary.getWord() define:</h1>

<ul>
  #foreach($definition in $dictionary.getDefinitions())
   <li>$definition.getDefinitions()</li>
  #end
</ul>

<a href="/dictionary/$dictionary.getId()/definition/new">Add a new Definition</a>
<a href="/dictionary">All Words</a>
